<h1>List Post</h1>

<ul>
  <li *ngFor="let post of posts">
    {{post.title}}
    <button type="button" (click)="editPost(post)">Edit</button>
    <button type="button" (click)="deletePost(post)">Delete</button>
  </li>
</ul>

<div>
  <h2 *ngIf="!activePost">Add Post</h2>
  <h2 *ngIf="activePost">Edit Post</h2>
  <p>Title</p>
  <input type="text" [(ngModel)]="newTitle">
  <p>Content</p>
  <textarea [(ngModel)]="newContent" rows="4" cols="50"></textarea>
  <br>
  <br>
  <button type="button" (click)="settingPost()">OK</button>
</div>